#scrollBar::-webkit-scrollbar-track {
  border-radius: 10px;
}

#scrollBar::-webkit-scrollbar {
  width: 10px;
}

#scrollBar::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #af408c;
}
